"{work}/.lake/build/ir/Main.c.o.export"
"{work}/.lake/build/ir/Export.c.o.export"
"-rdynamic"
"-L"
"{toolchain}/lib/lean"
"--sysroot"
"{toolchain}"
"-L"
"{toolchain}/lib"
"-L"
"{toolchain}/lib/libc"
"-fuse-ld=lld"
"-lleancpp"
"-lInit"
"-lStd"
"-lLean"
"-lleanrt"
"-lc++"
"-lLake"
"-lgmp"
"-luv"
"-lssl"
"-lcrypto"
"-Wl,-dead_strip"
